@import url('https://fonts.cdnfonts.com/css/gilam');

.wrapper{
    width: 100vw;
    margin: 0 auto;
    font-family: 'Gilam', sans-serif;
    background-color: rgba(23, 23, 23, 1);
}
.container{
    max-width: 1460px;
    margin: 0 auto;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.header-logo{
    display: block;
    width: 216px;
    height: 33px;
}
.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 50px;
    border: 1px solid rgba(228, 181, 100, 1);
    color: rgba(228, 181, 100, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;  
}
.header-button>img{
    width: 13px;
    height: 13px;
    margin-right: 10px;
}



.section-1{
    margin-top: 120px;
}
.section-1 > h2{
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
}
.section-1 > p{
    margin: 41px 0;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.section-1-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-template-areas: 
    "s1g1 s1g1 s1g2 s1g2 s1g3 s1g3"
    "s1g4 s1g4 s1g4 s1g5 s1g5 s1g5";
    gap: 30px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.section-1-grid-item-1{
    grid-area: s1g1;
    background-color: rgba(99, 79, 44, 1);
    display: grid;
    place-content: center center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 44px;
}
.section-1-grid-item-2 {
    grid-area: s1g2;
    background-color: rgba(180, 163, 133, 1);
    display: grid;
    place-content: center center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 44px;
}
.section-1-grid-item-3 {
    grid-area: s1g3;
    background-color: rgba(228, 181, 100, 1);
    display: grid;
    place-content: center center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 44px;
}
.section-1-grid-item-4 {
    grid-area: s1g4;
    background-color: rgba(99, 90, 74, 1);
    display: grid;
    place-content: center center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 44px;
}
.section-1-grid-item-5 {
    grid-area: s1g5;
    background-color: rgba(176, 140, 77, 1);
    display: grid;
    place-content: center center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 44px;
}



.section-2 {
    margin: 160px auto;
}
.section-2>h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 94px;
}
.section-2-grid{
    display: grid;
    height: 900px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
    "s2g1 s2g3 s2g5"
    "s2g1 s2g3 s2g5"
    "s2g1 s2g3 s2g5"
    "s2g1 s2g3 s2g5"
    "s2g1 s2g3 s2g6"
    "s2g2 s2g3 s2g6"
    "s2g2 s2g4 s2g6"
    "s2g2 s2g4 s2g6"
    "s2g2 s2g4 s2g7"
    "s2g2 s2g4 s2g7"
    "s2g2 s2g4 s2g7"
    "s2g2 s2g4 s2g7";
    gap: 30px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
}
.section-2-grid-item-1 {
    grid-area: s2g1;
    background-color: rgba(14, 14, 14, 1);
    padding: 44px 52px;
}
.section-2-grid-item-2 {
    grid-area: s2g2;
    background-color: rgba(31, 31, 31, 1);
    padding: 44px 52px;
}
.section-2-grid-item-3 {
    grid-area: s2g3;
    background-color: rgba(36, 36, 36, 1);
    padding: 44px 52px;
}
.section-2-grid-item-4 {
    grid-area: s2g4;
    background-color: rgba(228, 181, 100, 1);
    color: rgba(0, 0, 0, 1);
    padding: 44px 52px;
}
.section-2-grid-item-5 {
    grid-area: s2g5;
    background-color: rgba(31, 31, 31, 1);
    padding: 44px 52px;
}
.section-2-grid-item-6 {
    grid-area: s2g6;
    background-color: rgba(14, 14, 14, 1);
    padding: 44px 52px;
}
.section-2-grid-item-7 {
    grid-area: s2g7;
    background-color: rgba(10, 9, 9, 1);
    padding: 44px 52px;
}



.s3-bg{
    background-color: rgba(14, 14, 14, 1);
    width: auto;
}
.section-3-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 160px;
}
.section-3 h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    font-weight: 700;
}
.section-3-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid rgba(228, 181, 100, 1);
    color: rgba(228, 181, 100, 1);
    font-size: 18px;
    font-weight: 400;
}
.section-3-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 390px);
    margin-top: 60px;
    cursor: pointer;
}
.section-3-grid-item-1{
    background-color: rgba(99, 79, 44, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3-grid-item-2 {
    background-color: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 80px;
    font-weight: 400;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.section-3-grid-item-3 {
    background-color: rgba(228, 181, 100, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3-grid-item-4 {
    background-color: rgba(99, 90, 74, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3-grid-item-5 {
    background-color: rgba(176, 140, 77, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3-grid-item-6 {
    background-color: rgba(99, 79, 44, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}


.eid-img{
    width: 185px;
    height: 50px;
}
.arsenal-img{
    width: 190px;
    height: 42px;
}
.set-img{
    width: 119px;
    height: 53px;
}
.section-3-grid-item-2>img:first-child{
    width: 62px;
    height: 55px;
}
.section-3-grid-item-2>img:nth-child(2) {
    width: 139px;
    height: 55px;
    margin-bottom: 16px;
}


footer{
    height: 238px;
}