@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container{
    width: 1280px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


header{
    margin-top: 63px;
}
.header-logo{
    font-size: 80px;
    font-weight: 400;;
    line-height: 94px;
    color: rgba(75, 202, 255, 1);
}
.header-logo-color{
    color: rgba(0, 0, 0, 1);
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgba(53, 68, 79, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 40px;
}
.header-nav a{
    display: block;
    padding: 24px 38px 18px;
    border-left: 1px rgba(255, 255, 255, 1) solid;
}
.header-nav li:last-child{
    border-right: 1px rgba(255, 255, 255, 1) solid;
}
.header-nav a:hover {
    background-color: rgba(34, 47, 58, 1);
}


main{
    display: flex;
    margin-top: 49px;
    justify-content: space-between;
}



.aside-list{
    width: 344px;
    border: 1px solid rgba(0, 0, 0, 1);
}
.aside-list > li{
    padding: 25px 0 25px 44px;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(72, 88, 99, 1);
}
.aside-list > li:hover{
    padding-left: 60px;
    background-color: rgba(219, 219, 219, 1);
}



.content{
    width: 885px;
}
.content-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 529px;
    border: 1px solid rgba(0, 0, 0, 1);
}
.content-img-container:hover img{
    transform: scale(1.1);
}
.content-img{
    width: 320px;
    height: 381px;
    transition: transform 0.5s;
}
.content > p{
    margin-top: 35px;
    color: rgba(44, 44, 44, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}


.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
.footer-nav-list{
    display: flex;
    padding-left: 20px;
}
.footer-nav-list>li{
    /* padding-bottom: 12px; */
    margin: 0 20px;
}
.footer-nav-list>li>a:hover {
    color: rgba(49, 129, 166, 1);
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(49, 129, 166, 1);
}
.footer-nav>p{
    margin-right: 40px;
}