@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'mixins/mixins';


body{
    font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


@import 'styles/header';
@import 'styles/main';
@import 'styles/footer';












