body{
    background-color: aquamarine;
    span{
        color: chocolate;
    }
    background: url('@img/img.png') 0 0 no-repeat;
}

@media (max-width:768px){
    span{
        font-size: 20px;
    }
}
@media (max-width:768px){
body{
    background-color: cornflowerblue;
}
}