/* html{
    font-size: 16px;
}


.block{
    width: 600px;
    height: 100px;
    background-color: green;
}
.block-two{
    background-color: bisque;
    height: 100px;
    width: 50%;
}



.boxing{
    padding: 10px;
    width: 400px;
    background: grey;
} */

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: blue;
    border: 10px solid yellow;
    font-size: 16px;
    width: 300px;
    padding: 5px;
}

main{
    background-color: yellowgreen;
    border: 60px solid blue;
    grid-template-areas: ;
}