p {
    padding: 10px 20px;
}

/* ----------RElATIVE---------- */

.parent-block {
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    gap: 12px;
    background-color: #aaaaaa;
}

.child-block,
.child-absolute {
    padding-left: 20px;
    padding-top: 20px;
    width: 300px;
    height: 50px;
    background-color: #828cff;
}





































.container {
    width: 1100px;
    margin: 0 auto;
}
.relative{
    position: relative;
}
/* Intro section */
.intro-container {
    padding-top: 636px;
    height: 900px;
    color: #fff;
    background: black url(../imgs/intro.jpg);
    background-repeat: no-repeat;
}

.main_title {
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.sub_title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
    display: block;
}

.slogan {
    padding: 38px 31px;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    border: 1px solid white;
}

.slogan-colored {
    color: #f48e0b;
    border-right: 2px solid #f48e0b;
    padding-right: 23px;
}

/* About Us section */
.heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #333333;
    text-align: center;
}

.about_us {
    margin-top: 100px;
}

.about_us_text {
    text-align: center;
    margin-top: 28px;
}

.about_us_image {
    width: 280px;
    height: 240px;
    margin: 0 auto;
    display: block;
    margin-top: 56px;
}

.divider {
    width: 60px;
    height: 4px;
    background-color: rgba(244, 142, 11, 1);
    margin: 0 auto;
    margin-top: 48px;
}

.navigation_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 300px;
    position: sticky;
    z-index: 1;
}

.navigation_list {
    display: flex;
    flex-direction: row;
    gap: 70px;
}


.navigation_item_link {
    font-size: 18px;
    line-height: 22px;
    color: #3d3d3d;
    text-decoration: none;
}

.business_container {
    margin-top: 106px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.business_imgs {
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 30px;
}

.business_text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(3, 270px);
    gap: 14px;
}

.portfolio-tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 14px;
}

button {
    padding: 14px 42px;
    background: #ffffff;
    border: 1px solid #333333;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: rgba(17, 17, 17, 1);
}

.line{
    width: 4px;
    height: 133px;
    background-color: #f48e0b;
    position: absolute;
    bottom: 1px;
    left: 14px;
}

