.footer {
    background-color: rgba(0, 0, 0, 1);
    @include flex-center;

    .footer-section {
        @include flex-center;
        flex-direction: column;
        max-width: 754px;
        padding: 0 35px;

        h2 {
            margin-top: 66px;
            color: rgba(254, 254, 254, 1);
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
        }

        .footer-section-text {
            margin-top: 22px;
            color: #B9B9B9;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }

        .contacts {
            margin-top: 34px;
            margin-bottom: 70px;
            color: #B9B9B9;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .footer-social-links {
        margin-top: 36px;
        @include flex-center;

        li {
            margin: 3px;
        }
    }
}