.header-block-ul {
    @include flex-center;
    color: #4E4E4E;
    padding-top: 40px;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    .header-item {
        padding: 10px 16px;
    }

    .active-header {
        color: #57A4A4;
    }
}

.header-burger-menu {
    width: 44px;
    height: 37px;
    flex-shrink: 0;
    background-color: #000;
    display: none;
    cursor: pointer;
}

.header-image {
    padding-top: 40px;
    width: 100%;
}

@media (max-width: 768px) {
    .header-image {
        padding-top: 42px;
    }
}

@media (max-width: 620px) {
    .header-block-ul {
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .header-block {
        margin-top: 22px;
    }

    .header-burger-menu {
        display: block;
        position: absolute;
        right: 15px;
    }

    .header-block-ul.header-active-block {
        display: none;
    }

    .header-block-ul {
        display: flex;
        align-items: flex-start;
        position: absolute;
        padding-top: 0;
        right: 15px;
        top: 59px;
        width: 180px;
        background: #F5F5F5;
        color: #4E4E4E;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 1.1px;
        text-transform: uppercase;

        .header-item {
            width: 100%;
            padding: 10px 16px;

            &:hover {
                background-color: rgba(229, 229, 229, 1);
            }
        }

        .active-header {
            color: #57A4A4;
        }
    }

    .header-image {
        padding-top: 60px;
    }
}