.post-section-title {
    margin-top: 66px;
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}
@media (max-width: 320px) {
    .post-section-title {
        margin-top: 38px;
        font-size: 14px;
    }
}

.post-section-block {
    margin-top: 24px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 25px;

    .post-section-card {
        display: flex;
    }

    .post-card-img {
        margin-right: 20px;
        max-width: 160px;
        max-height: 140px;
    }

    .post-card-textblock {
        .post-card-title {
            color: #4E4E4E;
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
        }

        .post-card-author {
            margin-bottom: 12px;
            color: #7C7C7C;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
        }

        .post-card-decr {
            color: #5C5C5C;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
        }
    }
}

@media (max-width: 768px) {
    .post-section-block {
        grid-template-columns: 1fr;
        margin-bottom: 60px;
    }
}

@media (max-width: 320px) {
    .post-section-block {
            margin-bottom: 40px;
        }
    .post-section-card {
        flex-direction: column;
    }

    .post-card-descr {
        display: none;
    }
}





.instagram-section {
    background-color: rgba(247, 247, 247, 1);
    padding-top: 46px;
    padding-bottom: 50px;

    .instagram-section-title {
        @include flex-center;
        justify-content: space-between;

        .instagram-section-link {
            color: #4E4E4E;
            font-size: 13px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .instagram-section-title-h2 {
        color: #4E4E4E;
        padding-right: 5px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
    }

    .instagram-section-imgs {
        @include flex-center;
        margin-top: 24px;

        img {
            padding: 5px;
            max-width: 25%;
            max-height: 285px;

        }
    }

}

@media (max-width:768px) {
    .instagram-section-imgs {
        img {
            min-width: 33.33%;
            width: calc(33.33% - 10px);
            max-height: 250px;
        }

        img:last-child {
            display: none;
        }
    }
}

@media (max-width:320px) {
    .instagram-section-imgs {
        img:first-child {
            max-width: 300px;
            width: 300px;
            max-height: 300px;
        }

        img:not(:first-child) {
            display: none;
        }
    }

    .instagram-section {
        .instagram-section-title-h2 {
            font-size: 14px;
        }

        .instagram-section-link {
            display: none;
        }
    }
}