/* картинка 0 */
/* header, nav, div, aside, footer{
    background-color: darkorchid;
}
body{
    display: grid;
    grid-template-columns: 1fr 10fr 3fr;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 12px;
    grid-template-areas:
    "header header header"
    "nav div aside"
    "footer footer footer";
}

header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
div{
    grid-area: div;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
} */
/* картинка 0 */



/* картинка 02 */
/* body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "header header header header"
    "main main . aside"
    "footer footer footer footer";
    height: 500px;
}

.header{
    grid-area: header;
    background-color: orange;
}
.main{
grid-area: main;
background-color: blue;
}
.aside{
grid-area: aside;
background-color: brown;
}
.footer{
   grid-area: footer;
   background-color: green; 
} */

/* Або другий варіант запису */
/* .header {
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: orange;
}
.main {
    
    background-color: blue;
}
.aside {
    
    background-color: brown;
}
.footer {
    
    background-color: green;
} */
/* Або другий варіант запису */
/* картинка 02 */



/* Домашка по грідах */
/* body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
div{
    height: 200px;
    background-color: chocolate;
    flex: 1 0 300px;
} */
/* Домашка по грідах */