/* p::first-letter{
    color: chartreuse;
}
p::first-line{
    color: brown;
}

.after{
    width: 100%;
    height: 300px;
    background-color: teal;
}
.after::before {
    content: "";
    display: flex;
    height: 200px;
    height: 200px;
    background-color: rgb(55, 202, 26);
}
.after::after{
    content: "";
    display: flex;
    height: 200px;
    height: 200px;
    background-color: deeppink;
}




input:required{
    border: 3px solid yellow;
}
input:focus{
    border: 15px dotted blueviolet;
}


a:nth-of-type(3){
font-size: 40px;
}

 */


 *{
    margin: 0;
    padding: 0;
 }


 .container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
 }
 .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border: 1px solid;
 }
 /* .item:nth-child(odd){
    background-color: blue;
 }
 .item:nth-child(even){
    font-size: 40px;
 } */
 /* .item:nth-child(3n){
    background: green;
 } */