<header>
    <section class="section ">
            <div class="header-section">
                <div class="top-nav">
                    <div class="logo-wrapper">
                        <a class="logo-wrapper__link" href="#">
                            <img src="./img/logo.png" alt="logo">
                            <img class="logo_hover" src="./img/logo-hover.png" alt="logo-hover">
                            <span class="logo__text">ForkIO</span>
                        </a>
                    </div>
                    <nav class="nav-menu_full-screen">
                        <ul class="nav-menu_full-screen_list">
                            <li class="nav-menu__item"><a href="#">Overview</a></li>
                            <li class="nav-menu__item"><a href="#">About Fork</a></li>
                            <li class="nav-menu__item"><a href="#">Buying Options</a></li>
                            <li class="nav-menu__item"><a href="#">Support</a></li>
                        </ul>    
                    </nav>
                    
                    <button class="buy-now_button">Buy Now</button>
                    <div class="burger">
                        <span></span>      
                    </div>
                </div>

                <nav class="navigation_burger">
                    <ul class="nav-menu">
                        <li class="nav-menu__item"><a href="#">Overview</a></li>
                        <li class="nav-menu__item"><a href="#">About Fork</a></li>
                        <li class="nav-menu__item"><a href="#">Buying Options</a></li>
                        <li class="nav-menu__item"><a href="#">Support</a></li>
                    </ul>
                </nav>  
               
        </div>
        <div class="hero-wrapper">
                <h3 class="hero_title">Fork App</h3>
                <p class="hero__slogan">A Real Gamechanger In The World Of Web-Development</p>
                <p class="hero__version">v. 2.8 For Mac and Windows</p>
                <a class="hero_button">Download For Free Now</a>
        </div> 
        <p class="hero__under-text">Unlimited 30-Days Trial Period</p>

    </section>
</header>