.button {
    cursor: pointer;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;


    &._violet{
                background-color: #9330FF;
                color: #fff;
                border: none;
    }

    &._violet-font{
                background-color: #FFF;
                color: #9330FF;
                border: #3C4242 solid 1px;
    }
}