.close {
    cursor: pointer;
    border: none;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 24px;
    height: 24px;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 24px;
            height: 4px;
            background: gray;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
}