/* Задача 1 */


/* .loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
  z-index: -1;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
} */
























/* Задача 3 */

@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

:root {
    --color1: #fffff6;
    --color2: #161619;
    --color3: grey;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    background-color: var(--color1);
    color: var(--color2);
}

section {
    grid-row: 2;
    grid-column: 2;
}

h1 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 25px;
}

label {
    font-size: 22px;
    font-weight: 500;
}

input {
    font-size: 22px;
    font-weight: 500;
    outline: none;
}

input[type='text'] {
    width: 300px;
}

input[type='number'] {
    width: 50px;
}

div {
    margin-bottom: 10px;
}

div:nth-child(3) {
    margin-bottom: 25px;
}

button {
    background: transparent;
    border-color: currentColor;
    border: 2px solid;
    border-radius: 7px;
    cursor: pointer;
    font-size: 22px;
    outline: none;
}

button:disabled {
    color: var(--color3);
}