@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-orange: #F26522;
}

body{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    background-image: url(../img/bg.png);
    width: 100%;
    margin: 0 auto;
}
.container{
    max-width: 1030px;
    margin: 0 auto;
}


.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding-top: 46px;
}
.header-logo{
    display: flex;
    align-items: center;
}
.header-logo-link{
    display: grid;
    grid-template-columns: 53px 130px;
    grid-template-rows: 30px 23px;
    column-gap: 10px;
    grid-template-areas: 
    "img h1"
    "img holiday";
}
.header-logo-img-orange{
    display: none;
}
.header-logo-link:hover{
    color: var(--color-orange);
}
.header-logo-link:hover .header-logo-img{
    display: none;
}
.header-logo-link:hover .header-logo-img-orange{
    display: block;
}
.header-logo-img{
    grid-area: img;
    height: 47px;
    width: 53px;
}
.header-logo-h1{
    grid-area: h1;
    font-size: 29px;
    font-weight: 700;
    line-height: 30px;
}
.header-logo-span{
    grid-area: holiday;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}
.header-contacts{
    display: flex;
    height: 60px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}
.header-contacts>li:first-child:hover{
    color: var(--color-orange);
}
.header-contacts>li:nth-child(2):hover{
    color: var(--color-orange);
}



.tours{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 1fr);
    gap: 37px 65px;
}
.tours-container{
    position: relative;
    opacity: 1;
    /* cursor: pointer; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.tours-container:hover .tours-container-details{
    opacity: 1;
    
}
.tours-container:hover .tours-container-link{
    color: var(--color-orange);
}
.tours-container-img img{
    width: 300px;
    height: 220px;
}
.tours-container-link{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.tours-container-details{
    position: absolute;
    top: 165px;
    width: 300px;
    height: 55px;
    padding: 7px 14px 12px 16px;
    opacity: 0;
    background-color: var(--color-orange);
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.tours-container-details-price{
    display: flex;
    flex-direction: column;
    height: 36px;
    justify-content: space-between;
}
.tours-container-details-price>span:first-child{
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        text-align: left;
}
.tours-container-details-price>span:nth-child(2){
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.tours-container-details-view::after{
    content: ">";
    margin-left: 16px;
}



.footer{
    display: flex;
    justify-content: center;
    padding: 49px 0 15px 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}
