@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root {
    --color-green: #01813F;
}

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    background: url('../img/bg.png') no-repeat center center fixed;
    background-size: cover;
    background-size: 100% 100%;
}

.wrapper{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
:hover{
    transition: 0.3s ease-in;
}


.header{
    width: 1366px;
    height: 58px;
    margin: 0 auto;
    background-color: #00000066;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 79px;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 79px;
}
.header-nav-icons>svg:nth-child(1){
    height: 24px;
    width: 21px;
    margin-right: 27px;
    cursor: pointer;
}
.header-nav-icons>svg:nth-child(2){
    height: 23px;
    width: 23px;
    margin-right: 24px;
    cursor: pointer;
}
.header-nav-icons>svg:nth-child(3){
    height: 23px;
    width: 23px;
    margin-right: 53px;
    cursor: pointer;
}
.header-nav-icons::after{
    content: "";
    width: 1px;
    height: 19px;
    display: block;
    background-color: #FFFFFFE5;
    position: absolute;
    top: 4px;
    left: 147px;
}
.header-nav-log{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
}

.header-nav-icons>svg:hover>path{
    fill: var(--color-green);
    transition: 0.3s ease-in;
}
.header-logo:hover{
    color: var(--color-green);
}
.header-nav-log>p>a:hover{
    color: var(--color-green);
}



.main{
    height: 584px;
    width: 444px;
    margin-top: 54px;
    background-color: #FFFFFF;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sign-up-section{
padding: 29px 60px 38px;
}
.sign-up-title{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-up-title>h2{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #434343;
}
.sign-up-title>a{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #3CB878;
}
.sign-up-title>a:hover{
    color: var(--color-green);
    text-decoration: underline;
}
.sign-up-section::before{
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    top: 29px;
    left: 0;
}
fieldset{
    border-top: 1px solid #F2F2F2;
    margin-top: 32px;
}
legend{
    margin: 0 auto;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.sign-up-form-inputs{
    width: 100%;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #BEBEBE;
    margin-top: 15px;
}
.sign-up-form-inputs:focus{
    box-shadow: 0px 3px 8px 0px #00000036;
    color: #434343;
}
input:focus::placeholder {
    color: transparent;
}
.sign-up-form-checkbox-label{
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #434343;
}
.sign-up-form-checkbox-label>a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.sign-up-form-checkbox-label>a:hover{
    color: var(--color-green);
    text-decoration: underline;
}
.sign-up-form-checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    margin-right: 8px;
    
}
.sign-up-form-checkbox:checked{
    background-image: url(../img/checkbox.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    transition: none;
}
.sign-up-form-button{
    background-color: #3CB878CC;
    color: #FFFFFF;
    width: 100%;
    height: 46px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}
.sign-up-form-button:hover{
    background-color: var(--color-green);
}

.sign-up-socialBtn{
    display: flex;
    margin-top: 16px;
}
.sign-up-socialBtn-facebook{
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-right: 4px;
    padding: 12px 22px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.sign-up-socialBtn-facebook:hover{
    background-color: #022263;
}
.sign-up-socialBtn-facebook>img{
    width: 12px;
    height: 24px;
}
.sign-up-socialBtn-facebook::after{
    content: "";
    width: 1px;
    height: 28px;
    display: block;
    background-color: #0A162F;
    opacity: 10%;
    position: absolute;
    top: 10px;
    left: 48px;
}
.sign-up-socialBtn-google{
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-right: 4px;
    padding: 15px 27px 14px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.sign-up-socialBtn-google:hover {
    background-color: #AB1F09;
}
.sign-up-socialBtn-google>img{
    width: 30px;
    height: 19px;
}
.sign-up-socialBtn-google::after{
    content: "";
    width: 1px;
    height: 28px;
    display: block;
    background-color: #2B0D09;
    opacity: 10%;
    position: absolute;
    top: 10px;
    left: 49px;
}