/**/

html  { box-sizing: border-box;}
body { margin: 0; font-family: 'Lato', sans-serif; }
img { max-width: 100% }
a { text-decoration: none; }
*,*:before,*:after { box-sizing: inherit; }

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Style fot section */

.g-section .section-header {
	padding-bottom: 106px;
	text-align: center;
}

.g-section .section-header.line::after{
	content: '';
	height: 3px;
	width: 110px;
	background-color: #F1AD1D;
	display: block;
	margin: 48px auto 0;

}

.g-section .section-header .section-title {
	margin: 0;
	font-size: 22px;
	line-height: 1;
	color: #333;
	font-weight: bold;
}

.g-section .section-header .section-desc {
	line-height: 1.2;
	font-size: 16px;
	color: #4D4943;
}

.g-section .section-content {}


/* Style fot section section-dishes */

.section-dishes {}
.section-dishes .section-content { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; margin: -8px;}
.section-dishes .card-img-big { margin: 8px; display: flex; flex: 0 0 368px;}
@media (max-width:480px){
	.section-dishes .card-img-big{
		flex-basis: 280px;
	}
}
.section-dishes .cards-menu { display: flex; flex-direction: column; margin: 8px; flex: 1 1 auto;}
.section-dishes .card-image { display: flex; max-height: 120px; flex-grow: 0; flex-shrink: 0;}
.section-dishes .card-item { display: flex; align-items: center; width: 100%; }
.section-dishes .card-item:not(:last-child) { margin-bottom: 16px; }
.section-dishes .card-divider { display: block; flex: 1 1 112px; margin: 0 8px; height: 1px; border-bottom: 1px dashed #000 }
@media (max-width:480px) {
	.section-dishes .card-divider {
		flex:0 0 auto;
		height: 0px;
		width: 94px;
		margin: 16px 0;
	}
}
.section-dishes .card-content { display: flex; align-items: center; width: 100%; margin-left: 16px; }
@media (max-width:480px) {
	.section-dishes .card-content {
		flex-direction: column;
		justify-content: center;
	}
}