/* @import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

body {
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    color: #161619;
    background-color: #fffff6;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.square {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
} */




/* Задача 2 */

@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

body {
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    color: #161619;
    background-color: #fffff6;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, auto);
    justify-content: center;
    align-items: center;
}

.square-1 {
    grid-column: 1;
}

.square-2 {
    grid-column: 2;
}

.square-3 {
    grid-column: 3;
}

.square-4 {
    grid-column: 4;
}

.square-5 {
    grid-column: 5;
}

.square-6 {
    grid-column: 6;
}

.square-7 {
    grid-column: 7;
}

.square-8 {
    grid-column: 8;
}

.square-9 {
    grid-column: 9;
}

.square-10 {
    grid-column: 10;
}