.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

    .modal-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 560px;
        padding: 20px;
        border-radius: 10px;
        background-color: #FFF;
        }

        &.active{
            display: flex;
        }
}