*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1100px;
    /* margin: 0 auto; */
}

.intro-container{
    padding-top: 636px;
    background-image: url(../img/layer1.png) ;
    height: 900px;
    color: #fff;
    background-repeat: no-repeat;
}
.main-title{
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
}
.sub-title{
    font-size: 18px;
    line-height: 22px;
}
.slogan{
    padding: 38px 31px;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    border: 1px solid white;
}
.slogan-colored{
    color: #f48e0b;
    border-right: 2px solid #f48e0b;
}

/* Section two */



.about-us-img{
    width: 281px;
    height: 241px;
}
.line{
    border-bottom: 1px solid #f48e0b;
}



.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2, 200px);
}
.grid-photo > img{
    width: 150px;
    height: 150px;
}


/* ideas section */
.ideas{
    background-image: url(../img/layer1.png);
    height: 380px;
}
.ideas-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.ideas-title{
    color: white;
}
.ideas-title::after{
    content: "";
    display: block;
    width: 62px;
    height: 7px;
    background-color: #f48e0b;
    position: absolute;
    top: 59px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);

}





.section-padding{
    padding: 150px;
}
.input, .textarea{
    padding: 21px 0 0 14px;
    border: 1px solid #929292;
    outline: none;
}
.input:focus, .textarea:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.input::placeholder,
.textarea::placeholder{
    font-size: 18px;
    line-height: 18px;
    color: #747474;
    font-style: italic;
}
.subscribe-form{
    max-width: 773px;
    width: 100%;
    margin: 0 auto;
    margin-top: 55px;
    position: relative;
}
.subscribe-input{
    width: 100%;
}
.subscribe-button{
    max-width: 175px;
    height: calc(100%-2px);
    position: absolute;
    right: 1px;
    top: 1px;
}

.contacts-block{
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.contacts-form-container{
    max-width: 574px;
    width: 100%;
}
.contacts-info{
    max-width: 330px;
    width: 100%;
}
.contacts-form{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "contacts-name contacts-name contacts-email"
    "contacts-message contacts-message contacts-message"
    "reset send .";
    gap: 19px   25px;
}
.contacts-name{
    grid-area: contacts-name;
}
.contacts-email{
    grid-area: contacts-email;
}
.contacts-message{
    grid-area: contacts-message;
    width: 100%;
    resize: none;
}
.reset{
    grid-area: reset;
}
.send{
    grid-area: send;
}