
.revolutionary__section{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.revolutionary__title{
    @include font_title(#635C73, 26px, 700, 28px);
    margin-top: 80px;
    text-transform: uppercase;
    text-align: center;
}
.revolutionary__descr{
    @include font_text($dark_text, 14px, 400, 20px);
    margin-top: 26px;
    text-align: center;
}
@media (min-width: 481px) {
    .revolutionary__title {
        @include font_title(#635C73, 42px, 700, 42px);
        margin-top: 90px;
    }
    .revolutionary__descr {
        @include font_text($dark_text, 21px, 400, 32px);
        margin-top: 26px;
    }
}
 @media (min-width:993px) {
    .revolutionary__title {
        @include font_title(#635C73, 54px, 700, 54px);
        margin-top: 66px;
    }
    .revolutionary__descr {
        margin-top: 35px;
    }
 }
.revolutionary__block_buttons{
    display: flex;
    justify-content: center;
    max-width: 260px;
    flex-wrap: wrap;
    margin-top: 36px;
    margin-bottom: 70px;

    .block_buttons_btn{
        display: inline-flex;
        box-shadow: inset 0 0 0 1px #bfbfc3;
        border-radius: 4px;
        font-weight: 700;
        font-size: 10px;
        margin-right: 8px;
    }
    @media (max-width: 480px) {
            .block_buttons_btn {
                    &:last-child{
                    margin-top: 20px;
                    }
                }
    }
    .buttons_btn-btn {
        border-right: 1px solid #bfbfc3;
        padding: 5px 10px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        background-color: rgba($color: #bfbfc3, $alpha: 0.15);
        &:hover {
                background-color: #89888d4a;
            }
        img{
            margin-right: 5px;
        }
    }
    .buttons_btn-count {
        display: inline-flex;
        align-items: center;
        padding: 5px 10px;
    }
}
@media (min-width: 481px) {
.revolutionary__block_buttons{
    display: flex;
    max-width: 100%;
}
}