@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

body {
    background: linear-gradient(90deg, #754d8b 0%, #4e5992 100%);
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}



.sidebar .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .menu-item:not(:last-child) {
    margin-bottom: 16px;
}

.sidebar .label {
    padding: 16px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.sidebar .label input {
    margin-right: 16px;
}


.widget {
    height: 300px;
    width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.weather-top {
    position: relative;
    background-color: #f0f8fa;
    height: 70%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.weather-icon {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.weather-icon:before {
    display: block;
    color: #f29841;
    font-family: weathericons;
    font-size: 32px;
    position: absolute;
    left: 8px;
    top: 8px;
}

.weather-icon-clear-sky:before {
    /*clear sky 01d*/
    content: "\f00d";
}

.weather-icon-few-clouds:before {
    /*few clouds 02d*/
    content: "\f002";
}

.weather-icon-scattered-clouds:before {
    /*scattered clouds 03d*/
    content: "\f041";
    color: #9c9c9c;
}

.weather-icon-broken-clouds:before {
    /*broken clouds 04d*/
    content: "\f013";
    color: #9c9c9c;
}

.weather-icon-shower-rain:before {
    /*shower rain 09d*/
    content: "\f006";
}

.weather-icon-rain:before {
    /*rain 10d*/
    content: "\f008";
}

.weather-icon-thunderstorm:before {
    /*thunderstorm 11d*/
    content: "\f005";
}

.weather-icon-snow:before {
    /*snow 13d*/
    content: "\f00a";
}

.weather-icon-mist:before {
    /*mist 50d*/
    content: "\f003";
}

/**/

.weather-icon-night-clear-sky:before {
    /*clear sky 01n*/
    content: "\f02e";
    color: #000;
}

.weather-icon-night-few-clouds:before {
    /*few clouds 02n*/
    content: "\f002";
    color: #000;
}

.weather-icon-night-shower-rain:before {
    /*shower rain 09n*/
    content: "\f029";
    color: #000;
}

.weather-icon-night-rain:before {
    /*rain 10n*/
    content: "\f028";
    color: #000;
}

.weather-icon-night-thunderstorm:before {
    /*thunderstorm 11n*/
    content: "\f033";
    color: #000;
}

.weather-icon-night-snow:before {
    /*snow 13n*/
    content: "\f038";
    color: #000;
}

.weather-icon-night-mist:before {
    /*mist 50n*/
    content: "\f04a";
    color: #000;
}

.weather-icon-night-scattered-clouds:before {
    /*mist 50d*/
    content: "\f013";
    color: #9c9c9c;
}

.weather-data {
    background-color: #2e3336;
    height: 30%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color: #c5cdcf;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 2.9375em;
    line-height: 2.9375em;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(0, -50%);
}

h2 {
    color: #8f9b9d;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 1.1875em;
    line-height: 1.1875em;
    position: absolute;
    top: 24%;
    left: 27%;
}

h3 {
    color: #c5cdcf;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.8125em;
    line-height: 0.8125em;
    position: absolute;
    bottom: 25%;
    left: 27%;
}

h4 {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.6875em;
    line-height: 0.6875em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

h5 {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.8125em;
    line-height: 28px;
    position: absolute;
    bottom: 24%;
    left: 50%;
    transform: translate(-50%, 0);
}

.date {
    background-color: #4dbde2;
    height: 30%;
    width: 22%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 10px;
}