:root {
    --color-green: #18CFAB;
    --color-white: #fff;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1160px;
}

.button{
    width: 168px;
    height: 63px;
    border-radius: 4px;
    border-top: 5px solid var(--color-white);
    color: var(--color-white);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.h2-title{
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.h2-underlines{
    display: block;
    margin: 0 auto;
    width: 91px;
    height: 8px;
}




/* Header start */

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1022px;
    background-image: url('../img/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}
.header-nav{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 120px;
    background: rgba(94, 93, 88, 0.60);
}
.header-nav-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav-logo{
    display: flex;
    align-items: center;
    margin-right: 273px;
}
.header-nav-logo-img{
    width: 58px;
    height: 67px;
}
.logo-h{
    content: 'H';
    color: var(--color-white);
    font-size: 40px;
    font-weight: 700;
    position: relative;
    right: 184px;
}
.header-nav-logo-text{
    color: var(--color-white);
    font-size: 32px;
    font-weight: 400;
    margin-left: 6px;
}
.header-nav-logo-text>span{
    color: var(--color-green);
    font-size: 32px;
    font-weight: 700;
}
.header-nav-list{
    display: flex;
    width: 615px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.header-nav-list>li{
    margin-right: 21.09px;
    height: 21px;
    padding: 0 2px;
}
.header-nav-list>li>a:hover{
    color: var(--color-green);
    border-bottom: 2px solid var(--color-green);
    padding-bottom: 47px;
}
.header-nav-search{
    margin-left: 21px;
    cursor: pointer;
    width: 21px;
    height: 20px;
}
/* .header-nav-search:hover{
    fill: var(--color-green);
    border-bottom: 2px solid var(--color-green); 
    padding-bottom: 47.5px;
} */


.header-text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-text-the-ham{
    color: var(--color-white);
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 264px;
}
.header-text-the-ham>span{
    color: var(--color-green);
}
.header-text-we-are{
    color: var(--color-white);
    font-size: 78px;
    line-height: 80px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 22px;
}
.header-text-just-buy{
    color: #D4D4D4;
    font-size: 34px;
    line-height: 34px;
    font-weight: 400;
    margin-top: 22px;
}
.header-btns{
    margin-top: 130px;
}
.explore-now-btn{
    margin-right: 26px;
    background-color: var(--color-green);
}
.purchase-now-btn{
    background-color: rgba(0, 203, 246, 1);
}

/* Header end */

/* Four options start*/

.theme-options{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 357px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.theme-options-block:nth-child(even){
    background-color: var(--color-green);
    color: var(--color-white);
}
.theme-options-block:nth-child(odd){
    background-color: #1C2A33;
    color: var(--color-green);
}
.theme-options-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    padding-bottom: 100px;
}
.theme-options-block-img-finger{
    margin-bottom: 48px;
    width: 58px;
    height: 97px;
}
.theme-options-block-img-diamond{
    margin-bottom: 59px;
    width: 93px;
    height: 75px;
}
.theme-options-block-img-bulb{
    margin-bottom: 49px;
    width: 60px;
    height: 96px;
}
.theme-options-block-img-electronic{
    margin-bottom: 59px;
    width: 99px;
    height: 76px;
}

/* Four options end*/


/* Our Services section start*/

.our-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-services>h2{
    margin: 93px 0 24px;
}
.our-services-tabs{
    display: flex;
    background: rgba(248, 252, 254, 1);
    margin-top: 67px;
}
.our-services-content-block{
    margin-top: 27px;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 91px;
}
.our-services-tabs-content>img{
    width: 192px;
    height: 139px;
    float: left;
    margin-right: 15px;
}
.our-services-tabs-title{
    border: 1px solid rgba(237, 239, 239, 1);
    width: 192px;
    height: 73px;
    color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
    cursor: pointer;
}
.our-services-tabs-title:hover{
    border: 1.5px solid var(--color-green);
}
 .our-services-tabs-title.active-service{
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--color-white);
    position: relative;
} 
.our-services-tabs-title.active-service::after {
    content: '';
    width: 22px;
    height: 22px;
    background-color: var(--color-green);
    position: absolute;
    top: 55px;
    rotate: 45deg;
}
.our-services-tabs-content{
    display: none;
}
.our-services-tabs-content.active-service{
    display: block;
}

/* Our Services section end*/




/* Everything is ready section start*/

.everything-is-ready{
    height: 476px;
    background: url(../img/everything-is-ready.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.everything-is-ready-title{
    margin-top: 126px;
    color: var(--color-green);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 40.455px;
    text-transform: uppercase;
}
.everything-is-ready-text{
    margin-top: 12px;
    color: #D8D8D8;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}
.everything-is-ready-btn{
    margin-top: 62px;
    background-color: var(--color-green);
}

/* Everything is ready section end*/




/* Our amazing work start */

.our-amazing-work{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: rgba(233, 237, 239, 1);
    min-height: 1212px;
}
.our-amazing-work>h2{
    margin: 96px 0 20px;
}

.our-amazing-work-photos-block{
    display: grid;
    margin-bottom: 70px;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(3, 210px);
}
.our-amazing-work-photo{
    position: relative;
}
.our-amazing-work-photo-front,
.our-amazing-work-photo-back{
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .6s linear;
}
.our-amazing-work-photo-back{
    border-top: 3px solid var(--color-green);
    position: absolute;
    top: 0;
    height: 207px;
    width: 285px;
    background-color: #E9EDEF;
    text-align: center;
    transform: perspective(600px) rotateY(180deg);
}
.our-amazing-work-photo-back > svg{
    margin-top: 40px;
}
.our-amazing-work-photo-back > h3{
    color: var(--color-green);
    margin-top: 34px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.our-amazing-work-photo-back > p{
    color: #8A8A8A;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
}
.our-amazing-work-photo-front{
    transform: perspective(600px) rotateY(0deg);
}
.our-amazing-work-photo:hover >.our-amazing-work-photo-front{
    transform: perspective(600px) rotateY(-180deg);
}
.our-amazing-work-photo:hover >.our-amazing-work-photo-back{
    transform: perspective(600px) rotateY(0deg);
}
.our-amazing-work-photo-front > img{
    height: 210px;
    display: block;
}
.our-amazing-work-photo-hidden{
    display: none;
}

.our-amazing-work-btns{
    display: flex;
    margin-top: 69px;
    margin-bottom: 71px;
}
.our-amazing-work-title{
    border: 1px solid #DADADA;
    padding: 14px 15px;
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    cursor: pointer;
}
.our-amazing-work-title.work-active{
    color: var(--color-green);
    border: 2px solid var(--color-green);
    padding: 13px 14px;
}

.our-amazing-work-btn{
    width: 168px;
    height: 63px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 99px;
    background-color: var(--color-green);
    
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.our-amazing-work-btn>svg{
    margin-right: 15px;
}


/* Our amazing work end */




/* Breaking news start */

.breaking-news-title{
    margin: 82px 0 24px;
}
.cards{
    margin-top: 68px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 208px);
    gap: 117px 35px;
}
.news-card{
    position: relative;
}
.news-card-title{
    color: #717171;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    margin-left: 22px;
}
.news-card-date{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 68px;
    background-color: rgba(32, 62, 56, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.news-card-author{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    margin-left: 18px;
    display: flex;
    justify-content: space-between;
    width: 180px;
}
.news-card-link{
    display: block;
}
.news-card-link:hover a{
    color: var(--color-green);
}
.news-card-link:hover .news-card-date{
    background-color: var(--color-green);
}

/* Breaking news end */






/* What people say about theHam start */

.what-people-say-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 853px;
        margin-top: 202px;
        background-image: url('../img/what-people-say/what-people-say-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
}
.what-people-say-h2{
    margin-top: 98px;
    margin-bottom: 25px;
    color: var(--color-white);
    font-size: 36px;
    font-weight: 400;
}
.what-people-say-quote{
    margin-top: 68px;
}
.people-comment{
    position: relative;
}
.people-comment-text{
    max-width: 1160px;
    margin: 37px 0 20px;
    color: #BBB;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    display: none;
    animation: fadeIn 3s;
}
.people-name-prof{
    display: none;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.people-name-prof.people-comment-active{
    display: block;
}
.people-comment-text.people-comment-active{
    display: block;
}
.people-name-prof>p:first-child{
    color: var(--color-green);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.people-name-prof>p:last-child{
    color: #BBB;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 38px;
}
.people-img-big{
        border: 10px solid rgba(31, 218, 181, 0.2);
        border-radius: 50%;
        width: 142px;
        height: 142px;
        /* animation: fadeIn 3s; */
        margin-top: 46px;
        display: none;
}
 .people-img-big.people-comment-active{
    display: block;
    margin: 0 auto;
} 
 .people-solo-img-block{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.people-img-block-slider{
    margin-top: 70px;
    display: flex;
    align-items: center;
}
.people-img-small{
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 69px;
    height: 69px;
    margin: 0 10px;
    cursor: pointer;
}
.people-img-small-bottom{
    position: relative;
    bottom: 16px;
}

.people-img-btn-prev, .people-img-btn-next{
    width: 31px;
    height: 31px;
    border: 1px solid rgba(187, 187, 187, 1);
    margin: 0 30px;
    cursor: pointer;
}
.people-img-btn-prev:hover,
.people-img-btn-next:hover{
    background-color: var(--color-green);
}
.people-img-btn-prev::after,
.people-img-btn-next::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
}
.people-img-btn-prev::after{
    transform: rotate(225deg);
    margin-top: 10px;
    margin-left: 10px;
}
.people-img-btn-next::after{
    transform: rotate(45deg);
    margin-left: 7px;
    margin-top: 10px;
}
/* What people say about theHam end*/

.footer{
    height: 121px;
    background-color: rgba(34, 53, 63, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text{
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}
.footer-text>a{
    color: var(--color-green);
}



/* Loader */
.lds-ring {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    /* margin: 8px; */
    border: 8px solid var(--color-green);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--color-green) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* To top image */
#arrowTop {
    height: 50px;
    width: 50px;
    color: green;
    position: fixed;
    bottom: 45px;
    right: 25px;
    cursor: pointer;
}