/* body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 3px 5px;
} */




























/* Задача 4 */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

body {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 1fr 600px 1fr;
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    color: #161619;
    background-color: #fffff6;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    grid-column: 2;
    grid-row: 2;
    border: 3px solid black;
}

.cell {
    border: 2px solid darkgoldenrod;
} */
















/* 5 задача */

@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

body {
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    color: #161619;
    background-color: #fffff6;

    display: grid;
    grid-template-rows: 1fr auto 1fr 1fr;
    grid-gap: 20px;
}

h1 {
    grid-row: 2;
    font-size: 34px;
    font-weight: 600;
    padding-left: 15px;
}

.store {
    grid-row: 3;
    padding-left: 15px;
}

li {
    font-size: 18px;
    margin-bottom: 7px;
    font-weight: 500;
}