<footer class="footer">
    <section class="footer-section">
        <h2>- get in touch with us -</h2>
        <p class="footer-section-text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor
            amet sed donec malesuada
            ullamcorper odio.
            Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <ul class="footer-social-links">
            <li><a href="#"><img src="./img/social-imgs/net-1.png" alt="image"></a></li>
            <li><a href="#"><img src="./img/social-imgs/net-2.png" alt="image"></a></li>
            <li><a href="#"><img src="./img/social-imgs/net-3.png" alt="image"></a></li>
            <li><a href="#"><img src="./img/social-imgs/net-4.png" alt="image"></a></li>
            <li><a href="#"><img src="./img/social-imgs/net-5.png" alt="image"></a></li>
        </ul>
        <p class="contacts">Moonshine St. 14-05 Light City / T. <a href="tel:+00 (123) 456 78 90">+00 (123) 456
                78 90</a> / <a href="mailto:first.last@email.com">first.last@email.com</a></p>
    </section>
</footer>