<header>
    <nav class="header-block">
        <ul class="header-block-ul header-active-block">
            <li class="header-item active-header"><a href="#">Home</a></li>
            <li class="header-item"><a href="#">About us</a></li>
            <li class="header-item"><a href="#">Our Journal</a></li>
            <li class="header-item"><a href="#">Projects</a></li>
            <li class="header-item"><a href="#">News</a></li>
            <li class="header-item"><a href="#">features</a></li>
            <li class="header-item"><a href="#">Contact</a></li>
        </ul>
        <div class="header-burger-menu"><img class="header-burger-menu-img" src="./img/menu-button.png" alt=""></div>
    </nav>
    <div class="header-image container">
        <img src="./img/intro-img.png" alt="">
    </div>
</header>