<main>
    <section class="posts-section container">
        <h2 class="post-section-title">- our Recent posts</h2>
        <div class="post-section-block">
            <div class="post-section-card">
                <img class="post-card-img" src="./img/posts/post6img.png" alt="img">
                <div class="post-card-textblock">
                    <h3 class="post-card-title">Aenean Adipiscing Etiam Vestibulum</h3>
                    <p class="post-card-author">Photography, Journal / 9 Comments</p>
                    <p class="post-card-descr">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
                        ornare sem lacinia quam
                        venenatis vestibulum.</p>
                </div>

            </div>
            <div class="post-section-card">
                <img class="post-card-img" src="./img/posts/post-img.png" alt="img">
                <div class="post-card-textblock">
                    <h3 class="post-card-title">Aenean Adipiscing Etiam Vestibulum</h3>
                    <p class="post-card-author">Photography, Journal / 9 Comments</p>
                    <p class="post-card-descr">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
                        ornare sem lacinia quam
                        venenatis vestibulum.</p>
                </div>

            </div>
            <div class="post-section-card">
                <img class="post-card-img" src="./img/posts/post1img.png" alt="img">
                <div class="post-card-textblock">
                    <h3 class="post-card-title">Aenean Adipiscing Etiam Vestibulum</h3>
                    <p class="post-card-author">Photography, Journal / 9 Comments</p>
                    <p class="post-card-descr">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
                        ornare sem lacinia quam
                        venenatis vestibulum.</p>
                </div>

            </div>
            <div class="post-section-card">
                <img class="post-card-img" src="./img/posts/post4img.png" alt="img">
                <div class="post-card-textblock">
                    <h3 class="post-card-title">Aenean Adipiscing Etiam Vestibulum</h3>
                    <p class="post-card-author">Photography, Journal / 9 Comments</p>
                    <p class="post-card-descr">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
                        ornare sem lacinia quam
                        venenatis vestibulum.</p>
                </div>

            </div>
        </div>
    </section>
    <section class="instagram-section">
        <div class="instagram-section-title container">
            <h2 class="instagram-section-title-h2">- Latest Instagram Shots</h2>
            <p class="instagram-section-link"><a href="#">go to our instagram page -</a></p>
        </div>
        <div class="instagram-section-imgs container">
            <img src="./img/instagram-imgs/post-1.png" alt="image">
            <img src="./img/instagram-imgs/post-2.png" alt="image">
            <img src="./img/instagram-imgs/post-3.png" alt="image">
            <img src="./img/instagram-imgs/post-4.png" alt="image">
        </div>
    </section>
</main>